<ul style="list-style-type:none;">
    {{#each posts as |post|}}
    <li>
        <div class="card" style="width: 500px;; margin-top:10px">
            {{!-- <p>Created by {{post.fullname}} on {{format_date fullname.date_created}}</p> --}}
            <header style="padding: 10px; font-weight:700;">{{post.name}}</header>
            {{#if post.photo}}
            <img src="{{post.photo}}" class="card-img-top" alt="...">
            {{/if}}
            <div class="card-body">
                <p class="card-text">{{post.description}}</p>
                <p class="card-text">{{post.user.fullname}}</p>
            </div>
            <div class="">
                <form class="formSelector">
                    <label id="post_id" class="{{post.id}}" style="font-size: 10px"></label>
                    <input style="height: 30px; width: 80%" id="addComment" placeholder="Type a Comment..."
                        name=""></input>
                </form>
            </div>
            {{#each post.Comments as |comment|}}
            <div style="padding:10px; border: red; background:#dedede">
                <p> {{comment.description}}</p>
                <p> {{comment.user.fullname}}</p>
                <!-- <p > {{comment.name}}</p> -->
                <button class="btn btn-sm btn-danger delbutton" data-id="{{comment.id}}">delete</button>
            </div>
            {{/each}}
        </div>

    </li>
    {{/each}}
</ul>

<script src="./js/postcomments.js"></script>
<script src="./js/homepage.js"></script>