<h1 style="padding-left: 23px;">Hello, {{user.fullname}}! </h1>
<div class="jumbotron jumbotron-fluid"
  style="border: 1px black solid; margin: 1% 2%; padding: 4%; box-shadow: 0 0 10px black; background-color: white">
  <div class="container">
    <div class="card mb-3" style="max-width: 100%; min-height: 100%;">
      {{#if user.profile_pic}}
      <div class="col-md-4">
        <img src="{{user.profile_pic}}" alt="{{user.fullname}}'s profile picture" style="max-width: 300px;">
      </div>
      {{/if}}
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{{user.fullname}}}</h5>
            <p class="card-text">{{{user.description}}}</p>
            {{!-- image link for profile picture  --}}
          <label for="post-description" style="font-size: 100%;">Profile Picture link</label>
          <input style="border: 2px solid black;" class="form-input" id="upload"
            name="post-photo"></input>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="display: flex; justify-content: center; margin-top: 1%;">
  <div
    style="border: black solid 1px; width: 50%; padding: 1%; box-shadow: 0 0 10px black; background-color: white; margin-top: 10px">
    <div class="row mt-4" style="display: flex; justify-content: center;">
      <div class="col-md-6">
        

        <form id="post-form" style="display: flex; justify-content: center; flex-wrap: wrap;">
          <h3 style="font-size: 40px;">Create a Post</h3>
          <label for="post-name" style="font-size: 35px;">Post Title</label>
          <input style="border: 2px solid black; padding-left: 70px" class="form-input" type="text" id="post-name"
            name="post-name" />
          <label for="post-description" style="font-size: 35px;">Description</label>
          <input style="border: 2px solid black;" class="form-input" id="post-description"
            name="post-description"></input>
          <label for="post-description" style="font-size: 35px;">Image Link</label>
          <input style="border: 2px solid black;" class="form-input" id="upload"
            name="post-photo"></input>
          <button style="background-color: rgb(196, 170, 216); border: 2px solid black; color: white; margin-left:90px"
            type="submit" id="createpost" class="btn btn-primary">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>

{{#if posts.length}}
<div class="jumbotron jumbotron-fluid jumbocontainer">
  <div class="container">

    {{#each posts as |post|}}
    <div class="card spacing" style="width: 100%;">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{{posts.name}}}</h5>
        <p class="card-text">{{{post.description}}}</p>
        <small>Date Posted: {{{posts.date_created}}}</small>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
</div>

<script src='/js/newpost.js'> </script>